#container{

    border: 1px solid;
    display: flex;
  }

  #sidebar{
    flex:2;

    border: 1px solid;
  
  }
 
  #main{
    flex:8;
    border: 1px solid red;
    display:  grid;
    grid-template-columns: repeat(4,1fr);
    gap :10px ;
  }
  
  #photo{
    width: 80%;
  }

